@import "../../css/constants";

.categories {
  position: relative;
  top: $nav-xsmall-height;
  width: 100%;
  padding: 1rem;
  overflow: hidden;

  @media screen and (min-width: $sm){
    //width: calc(100% - $nav-small-width);
  }

  @media screen and (min-width: $md){

  }

  @media screen and (min-width: $lg){

  }
}
